[Unit]
Description=Filegen Server
After=network.target

[Service]
ExecStart=/usr/local/sbin/filegen-server
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=1
User=filegen-server
Group=filegen-server

[Install]
WantedBy=multi-user.target
