[Unit]
Description=Fleet Manager
After=network.target

[Service]
ExecStart=/usr/local/sbin/fleet-manager
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=1
User=fleet-manager
Group=fleet-manager

[Install]
WantedBy=multi-user.target
