[Unit]
Description=Dominator MDB daemon
After=network.target

[Service]
ExecStart=/usr/local/sbin/mdbd
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=1
User=mdbd
Group=mdbd

[Install]
WantedBy=multi-user.target
